RewriteEngine On

# Ensure your project folder matches this path if you change its name

RewriteBase /hotel.com/

# Do not redirect actual physical files or directory paths

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Route everything else directly to index.php

RewriteRule ^ index.php [QSA,L]
